<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Welcome to the 2022 NHL Playoffs</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>	
	<h1>Welcome to the 2022 NHL Playoffs</h1>
	<div>
		<fieldset>
			<h2>Select Your Team</h2>
			<ul>
				<li>To pick the team(s) you want to follow select <a href="/myTeams">My Teams</a></li>
				<li>To review your team(s) select <a href="/reviewMyTeams">Review My Teams</a></li>
			</ul>
			<hr/>

			<h2>Follow The Action</h2>
			<ul>
				<li>To review your team's performance so far select <a href="/myTeamsUpdate">My Team's Update</a></li>
				<li>
					To remove one of your teams select <a href="/removeOne">Remove One Of My Teams</a>
				</li>
				<li>To remove all your teams select <a href="/removeAll">Remove All My Teams</a></li>
			</ul>
		</fieldset>
	</div>	
</body>

</html>
