<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Your Team's Current Status</title>
</head>

<body>
	<h1>Your Team's Current Status</h1>
	<div>
		<%- orderTable %>
		<br>
	</div>

	<a href="/">HOME</a>
</body>

</html>
