<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removal of One Team</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Removal of One Team</h1>
	<div>
		<fieldset>
			<%- team %> has been removed from the database. 
			<br />
			<a href="/">HOME</a>
		</fieldset>
	</div>
</body>

</html>
