<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removal of One Team</title>
</head>

<body>
	<h1>Removal of One Team</h1>
	<div>
		<%- team %> has been removed from the database. 
	<br /><br />
	<a href="/">HOME</a>
	</div>
</body>

</html>
