<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removal of All Applicantions</title>
</head>

<body>
	<h1>Removal of All Applicantions</h1>
	<div>All applications have been removed from the database. Number of 
	applications removed: <%- numRemoved %> 
	<br /><br />
	<a href="/">HOME</a>
	</div>
</body>

</html>
