<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>My Teams</title>
</head>

<body>
	<h1>My Teams</h1>
	<div>
		<strong>List of Teams You Follow: </strong>
		<br/><br/>
		<%- teamList %> 
		<br/>
		
		<hr>
		<strong><%- dateTime %></strong>
		<hr>
		<a href="/">HOME</a
	</div>
</body>

</html>
