<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Your Team's Current Status</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Your Team's Current Status</h1>
	<div>
		<fieldset>
		<%- orderTable %>
		<br>
		<hr>
		<strong><%- dateTime %></strong>
		<hr>
		</fieldset>
	</div>
	<br>
	<a href="/">HOME</a>
</body>

</html>
