<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Oops!</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Oops!</h1>
	<div>
		<fieldset>
			<strong>You already follow the </strong>
			<%- name %> 
			<strong>, you silly goose!</strong>
			<br>

			<a href="/">HOME</a
		</fieldset>
	</div>
</body>

</html>
