<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removing One Team</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Removing One Team</h1>
	<div>
		<fieldset>
			<form action="/processRemoveOne" method="post" onsubmit="return validate()">
				<label>Enter the team you wish to remove: 
					<input type="text" name="name"></input>
				</label>
				<input type="submit" value="Remove Team"/>
			</form>
		</fieldset>	
	</div>
	<hr/>
	<a href="/">HOME</a>
</body>
	<script>
		function validate(){
		let text = "Are you sure you want to remove this team?";
		if (confirm(text) == true){
		return true;
		} else {
		return false;
		}
		}
	</script>
	
</html>

